.busca-page{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sem-resultados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultados-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card-resultado {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #eef0f2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.02);
}

.card-resultado:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

/* Container da Imagem */
.card-image-container {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  background-color: #f8f9fa;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Mantém a proporção da ração/acessório */
}

/* Textos do Card */
.card-resultado h3 {
  font-size: 1.1rem;
  color: #333;
  margin: 10px 0 5px 0;
}

.card-resultado p {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.card-resultado span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #27ae60; /* Verde para destaque do preço */
  margin-bottom: 15px;
}

.btn-ver {
  text-decoration: none;
  background-color: #004aad; /* Azul do Hanouer */
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  font-weight: 500;
  margin-top: 8px; /* Garante que o botão fique sempre na base */
  transition: background 0.2s;
}

.btn-qtd{
  color: #fef6f6;
  background-color: #27ae60;
  height: 30px;
  width: 30px;
  border-radius: 20%;
}

.quantidade-control{
  display: flex;
  gap: 10px;

}
.btn-ver:hover {
  background-color: #003580;
}